<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2><%= blog.title %></h2>
      <p><%= blog.body %></p>
    </div>
    <button class="delete" data-doc="<%= blog._id %>">Delete</button>

    <script>
      const trashcan = document.querySelector(".delete");

      trashcan.addEventListener("click", (e) => {
        const id = e.target.getAttribute("data-doc");
        fetch(`/blogs/${id}`, {
          method: "DELETE",
        }).then((res) => {
          window.location.href = "/";
        });
      });
    </script>
  </body>
</html>
